.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px; /* space between text and photo */
  padding: 150px 50px 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-section {
  flex: 1;
  max-width: 600px;
}

.img-section {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* push photo to the right */
  align-items: center;
}

.my-photo {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 20px;
  animation: float 3s ease-in-out infinite;
  box-shadow: 0 10px 30px rgba(240, 157, 227, 0.979);
}
